In [1]:
import pandas as pd
from requests import get
import requests
from bs4 import BeautifulSoup
import time

In [2]:
from scraping_functions import *

In [3]:
get_box_scores(20211218, 'BRK', 'ORL')

,PLAYER,MP,FG,FGA,FG_PCT,FG(3),FGA(3),FG_PCT(3),FT,FTA,...,GAMEID,TEAM,HOME,AWAY,OPPONENT,DATE,WINS,LOSSES,WIN_PCT,GAME_NO
0,"Mills,Patty",40.616667,10,24,.417,2,14,.143,1,1,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
1,"Edwards,Kessler",38.966667,4,13,.308,1,4,.250,0,0,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
2,"Thomas,Cam",35.966667,7,20,.350,1,7,.143,0,0,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
3,"Duke,David",35.816667,7,15,.467,1,4,.250,3,4,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
4,"Griffin,Blake",32.283333,6,13,.462,3,10,.300,2,3,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
5,"Galloway,Langston",22.616667,2,5,.400,0,3,.000,0,0,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
6,"Harrison,Shaquille",21.316667,2,6,.333,0,2,.000,0,0,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
7,"Ennis,James",12.416667,1,6,.167,1,2,.500,0,0,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
11,"Team Totals, BRK",240,39,102,.382,9,46,.196,6,8,...,202112180BRK,BRK,1.0,0.0,ORL,20211218.0,21.0,9.0,0.700000,30.0
0,"Lopez,Robin",38.266667,10,22,.455,0,0,,0,0,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
1,"Harris,Gary",35.8,6,17,.353,1,4,.250,4,5,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
2,"Okeke,Chuma",35.35,6,11,.545,3,6,.500,0,0,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
3,"Mulder,Mychal",29.633333,3,9,.333,1,5,.200,0,0,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
4,"Wagner,Franz",28.483333,4,14,.286,0,2,.000,6,6,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
5,"Gravett,Hassani",24.9,2,5,.400,1,4,.250,2,2,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
6,"Johnson,B.J.",20.033333,3,8,.375,1,4,.250,0,0,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
7,"Ford,Aleem",17.8,3,6,.500,2,5,.400,0,0,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
8,"Schofield,Admiral",9.716667,2,2,1.000,1,1,1.000,0,0,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0
11,"Team Totals, ORL",240,39,94,.415,10,31,.323,12,13,...,202112180BRK,ORL,0.0,1.0,BRK,20211218.0,6.0,25.0,0.193548,31.0

In [4]:
_2014_schedule = get_games(2014)
_2014_schedule

,DATE,START_TIME,HOME_TEAM,HOME_PTS,AWAY_TEAM,AWAY_PTS,OTs,ATTENDANCE,HOME_WIN,AWAY_WIN,SEASON
0,20131029,7:00p,IND,97,ORL,87,,"18,165",1,0,2014
1,20131029,8:00p,MIA,107,CHI,95,,"19,964",0,1,2014
2,20131029,10:30p,LAL,116,LAC,103,,"18,997",1,0,2014
3,20131030,7:00p,CLE,98,BRK,94,,"20,562",1,0,2014
4,20131030,7:00p,TOR,93,BOS,87,,"20,155",1,0,2014
...,...,...,...,...,...,...,...,...,...,...,...
1225,20140416,8:00p,OKC,112,DET,111,,"18,203",1,0,2014
1226,20140416,8:00p,SAS,100,LAL,113,,"18,581",0,1,2014
1227,20140416,10:30p,DEN,112,GSW,116,,"17,232",0,1,2014
1228,20140416,10:30p,POR,110,LAC,104,,"20,021",1,0,2014
1229,20140416,10:30p,SAC,99,PHO,104,,"17,317",1,0,2014

In [5]:
_2014_schedule['DATE+TIME'] = _2014_schedule['DATE'] + ' ' + _2014_schedule['START_TIME']

In [6]:
_2014_schedule

,DATE,START_TIME,HOME_TEAM,HOME_PTS,AWAY_TEAM,AWAY_PTS,OTs,ATTENDANCE,HOME_WIN,AWAY_WIN,SEASON,DATE+TIME
0,20131029,7:00p,IND,97,ORL,87,,"18,165",1,0,2014,20131029 7:00p
1,20131029,8:00p,MIA,107,CHI,95,,"19,964",0,1,2014,20131029 8:00p
2,20131029,10:30p,LAL,116,LAC,103,,"18,997",1,0,2014,20131029 10:30p
3,20131030,7:00p,CLE,98,BRK,94,,"20,562",1,0,2014,20131030 7:00p
4,20131030,7:00p,TOR,93,BOS,87,,"20,155",1,0,2014,20131030 7:00p
...,...,...,...,...,...,...,...,...,...,...,...,...
1225,20140416,8:00p,OKC,112,DET,111,,"18,203",1,0,2014,20140416 8:00p
1226,20140416,8:00p,SAS,100,LAL,113,,"18,581",0,1,2014,20140416 8:00p
1227,20140416,10:30p,DEN,112,GSW,116,,"17,232",0,1,2014,20140416 10:30p
1228,20140416,10:30p,POR,110,LAC,104,,"20,021",1,0,2014,20140416 10:30p
1229,20140416,10:30p,SAC,99,PHO,104,,"17,317",1,0,2014,20140416 10:30p

In [7]:
pd.to_datetime(_2014_schedule['DATE+TIME'])

0      2013-10-29 19:00:00
1      2013-10-29 20:00:00
2      2013-10-29 22:30:00
3      2013-10-30 19:00:00
4      2013-10-30 19:00:00
               ...
1225   2014-04-16 20:00:00
1226   2014-04-16 20:00:00
1227   2014-04-16 22:30:00
1228   2014-04-16 22:30:00
1229   2014-04-16 22:30:00
Name: DATE+TIME, Length: 1230, dtype: datetime64[ns]

In [6]:
_2014_dfs = []

for index_sched,v in _2014_schedule.iterrows():
    date = v['DATE']
    start_time = v['START_TIME']
    team1 = v['HOME_TEAM']
    team2 = v['AWAY_TEAM']
    team1result = v['HOME_WIN']
    team2result = v['AWAY_WIN']
    df = get_box_scores(date,team1,team2)
    df['TIME'] = start_time
    df['DATE'] = df['DATE'].map(lambda x:str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:8])
    df['DATE+TIME'] = df['DATE'] + df['TIME']
    df['DATE+TIME'] = pd.to_datetime(_2014_schedule['DATE+TIME'])
    df['WIN'] = df['TEAM'].map(lambda x:team1result if x == team1 else team2result)
    df['LOSS'] = df['WIN'].map(lambda x:0 if x == 1 else 1)
    df['TEAM_STATS_OR_NOT'] = df['PLAYER'].map(lambda x:1 if x[0:11] == 'Team Totals' else 0)
    _2014_dfs.append(df)
    print(f'{index_sched} rows completed!')
    time.sleep(10)

NameError: name '_2014_schedule' is not defined

In [61]:
test_dfs = pd.concat(_2014_dfs)

In [60]:
len(_2014_dfs)

1230

In [64]:
team_totals_2014 = test_dfs.loc[test_dfs['TEAM_STATS_OR_NOT'] == 1].copy()

In [65]:
player_stats_2014 = test_dfs.loc[test_dfs['TEAM_STATS_OR_NOT'] == 0].copy()

In [66]:
player_stats_2014

,PLAYER,MP,FG,FGA,FG_PCT,FG(3),FGA(3),FG_PCT(3),FT,FTA,...,DATE,WINS,LOSSES,WIN_PCT,GAME_NO,TIME,DATE+TIME,WIN,LOSS,TEAM_STATS_OR_NOT
0,"George,Paul",36.083333,8,16,.500,3,6,.500,5,7,...,2013-10-29,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 19:00:00,1,0,0
1,"Stephenson,Lance",35.633333,8,12,.667,2,3,.667,1,2,...,2013-10-29,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 20:00:00,1,0,0
2,"West,David",30.716667,4,11,.364,0,0,,5,5,...,2013-10-29,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 22:30:00,1,0,0
3,"Hill,George",29.066667,2,8,.250,0,2,.000,3,4,...,2013-10-29,1.0,0.0,1.000000,1.0,7:00p,2013-10-30 19:00:00,1,0,0
4,"Hibbert,Roy",26.9,3,6,.500,0,0,,2,4,...,2013-10-29,1.0,0.0,1.000000,1.0,7:00p,2013-10-30 19:00:00,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,"Morris,Markieff",27.9,7,13,.538,0,0,,1,1,...,2014-04-16,48.0,34.0,0.585366,82.0,10:30p,2013-10-30 19:30:00,0,1,0
8,"Smith,Ish",27.0,4,7,.571,0,1,.000,0,0,...,2014-04-16,48.0,34.0,0.585366,82.0,10:30p,2013-10-30 20:00:00,0,1,0
9,"Len,Alex",16.3,0,4,.000,0,0,,0,0,...,2014-04-16,48.0,34.0,0.585366,82.0,10:30p,2013-10-30 20:00:00,0,1,0
10,"Randolph,Shavlik",15.566667,0,0,,0,0,,0,0,...,2014-04-16,48.0,34.0,0.585366,82.0,10:30p,2013-10-30 20:00:00,0,1,0
11,"Christmas,Dionte",7.483333,1,4,.250,1,2,.500,0,2,...,2014-04-16,48.0,34.0,0.585366,82.0,10:30p,2013-10-30 20:30:00,0,1,0

In [57]:
time.sleep(10)

In [5]:
def get_full_box(years):
    box_scores = []
    for year in years:
        schedule = get_games(year)
        print('schedule done')
        for index_sched,v in schedule.iterrows():
            date = v['DATE']
            start_time = v['START_TIME']
            team1 = v['HOME_TEAM']
            team2 = v['AWAY_TEAM']
            team1result = v['HOME_WIN']
            team2result = v['AWAY_WIN']
            df = get_box_scores(date,team1,team2)
            df['TIME'] = start_time
            df['DATE'] = df['DATE'].map(lambda x:str(x)[:4]+'-'+str(x)[4:6]+'-'+str(x)[6:8])
            df['DATE+TIME'] = df['DATE'] + ' ' + df['TIME']
            df['DATE+TIME'] = pd.to_datetime(df['DATE+TIME'])
            df['WIN'] = df['TEAM'].map(lambda x:team1result if x == team1 else team2result)
            df['LOSS'] = df['WIN'].map(lambda x:0 if x == 1 else 1)
            df['TEAM_STATS_OR_NOT'] = df['PLAYER'].map(lambda x:1 if x[0:11] == 'Team Totals' else 0)
            df['SEASON'] = year
            box_scores.append(df)
            time.sleep(10)
    print(year)
    return box_scores

In [ ]:
_14_15_for_scrape = get_full_box([2014,2015])

schedule done

In [28]:
pd.concat(_14_15_for_scrape).to_csv('./raw_data/2014_2015_SEASONS.csv')

In [29]:
pd.concat(_14_15_for_scrape)

,PLAYER,MP,FG,FGA,FG_PCT,FG(3),FGA(3),FG_PCT(3),FT,FTA,...,WINS,LOSSES,WIN_PCT,GAME_NO,TIME,DATE+TIME,WIN,LOSS,TEAM_STATS_OR_NOT,SEASON
0,"George,Paul",36.083333,8,16,.500,3,6,.500,5,7,...,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 19:00:00,1,0,0,2014
1,"Stephenson,Lance",35.633333,8,12,.667,2,3,.667,1,2,...,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 19:00:00,1,0,0,2014
2,"West,David",30.716667,4,11,.364,0,0,,5,5,...,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 19:00:00,1,0,0,2014
3,"Hill,George",29.066667,2,8,.250,0,2,.000,3,4,...,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 19:00:00,1,0,0,2014
4,"Hibbert,Roy",26.9,3,6,.500,0,0,,2,4,...,1.0,0.0,1.000000,1.0,7:00p,2013-10-29 19:00:00,1,0,0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,"Williams,Derrick",33.583333,9,16,.563,2,4,.500,2,4,...,29.0,53.0,0.353659,82.0,10:30p,2015-04-15 22:30:00,0,1,0,2015
6,"Hollins,Ryan",23.266667,5,7,.714,0,0,,2,7,...,29.0,53.0,0.353659,82.0,10:30p,2015-04-15 22:30:00,0,1,0,2015
7,"Stockton,David",19.383333,2,3,.667,1,1,1.000,0,1,...,29.0,53.0,0.353659,82.0,10:30p,2015-04-15 22:30:00,0,1,0,2015
8,"Miller,Andre",2.466667,0,0,,0,0,,0,0,...,29.0,53.0,0.353659,82.0,10:30p,2015-04-15 22:30:00,0,1,0,2015
12,"Team Totals, SAC",240,46,84,.548,8,17,.471,22,41,...,29.0,53.0,0.353659,82.0,10:30p,2015-04-15 22:30:00,0,1,1,2015

In [30]:
_16_17_for_scrape = get_full_box([2016,2017])

schedule done
schedule done
2017

In [33]:
pd.concat(_16_17_for_scrape).to_csv('./raw_data/2016_2017_SEASONS.csv')

In [ ]:
_18_19_for_scrape = get_full_box([2018,2019])

schedule done

In [ ]:
pd.concat(_18_19_for_scrape)

In [9]:
pd.concat(_18_19_for_scrape).to_csv('./raw_data/2018_2019_SEASONS.csv')